<div class="container">
<form id="userRegister">
    <div class="form-group">
        <label for="emailInput">Email address</label>
        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
            placeholder="Email">
    </div>
    <div class="form-group">
        <label for="usernameInput">Username</label>
        <input type="text" class="form-control" id="usernameInput" aria-describedby="emailHelp" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="Password" class="form-control" id="passwordInput" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="firstNameInput">First Name</label>
        <input type="text" class="form-control" id="firstNameInput" aria-describedby="emailHelp"
            placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="lastNameInput">Last Name</label>
        <input type="text" class="form-control" id="lastNameInput" aria-describedby="emailHelp"
            placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="locationInput">Location</label>
        <input type="text" class="form-control" id="locationInput" aria-describedby="emailHelp"
            placeholder="Location">
    </div>
    <div class="form-group">
        <label for="favFactionInput">Favorite Faction</label>
        <input type="text" class="form-control" id="favFactionInput" aria-describedby="emailHelp"
            placeholder="Favorite Faction">
    </div>
    <button type="submit" class="btn btn-primary" id="newUserCreate">Submit</button>
</form>
</div>