
    <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                <h1>Welcome ${username}!</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h1>Requestorium</h1>
                <form id="newArmyForm" class="border border-warning rounded p-3">
                    <div class="form-row">
                        <div class="col-md-3">
                            <label for="armyTitle">Title</label>
                            <input type="text" class="form-control" id="armyTitle" placeholder="Enter army title">
                        </div>
                        <div class="col-md-3">
                            <label for="faction">Faction</label>
                            <select class="form-control" id="faction">
                                <option>Space Marines</option>
                                <option>Tyranids</option>
                                <option>Deathguard</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="pointValue">Point Value</label>
                            <select class="form-control" id="pointValue">
                                <option>250</option>
                                <option>500</option>
                                <option>1000</option>
                                <option>1500</option>
                                <option>2000</option>
                            </select>
                        </div>
                        <button class="btn btn-warning" type="submit" id="armySubmit"> Add Army</button>
                    </div> 
                </form>
            </div>
        </div>
    </div>
    <div class="container pt-3">
    <h1>${username}'s Armies</h1>
    ${armies.map(army => `
        <div class="row">
            <div class="col-3">${army.title}</div>
            <div class="col-3">${army.faction}</div>
            <div class="col-3">${army.totalPoints}</div>
            <button class="btn btn-danger" id="armyDelete" value="${army.id}" type="submit"> Delete Army</button>
        </div>
        
        `).join('')}
    </div>